RewriteEngine on

#index
RewriteRule ^index$ index.php [L]
RewriteRule ^posts/([0-9]+)$ index.php?p=posts.show&id=$1 [L]
RewriteRule ^categories/([0-9]+)$ index.php?p=posts.categories&id=$1 [L]

#login
RewriteRule ^login$ index.php?p=users.login [L]

#admin-posts
RewriteRule ^adminposts$ index.php?p=admin.posts.index [L]
RewriteRule ^adminposts/([0-9]+)$ index.php?p=admin.posts.edit&id=$1 [L]

#admin-categories
RewriteRule ^admincategories$ index.php?p=admin.categories.index [L]
RewriteRule ^admincategories/([0-9]+)$ index.php?p=admin.categories.edit&id=$1 [L]
